<h2>Modifier le mot de passe</h2>
<div class="container">
<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="currentPassword" class="form-label">Mot de passe actuel</label>
    <input type="password" id="currentPassword" formControlName="currentPassword" class="form-control">
  </div>

  <div class="mb-3">
    <label for="newPassword" class="form-label">Nouveau mot de passe</label>
    <input type="password" id="newPassword" formControlName="newPassword" class="form-control">
    @if(isValidPassword()){
      <p style="color: red;"> mot passe invalid</p>
    }
  </div>
  <div class="mb-3">
    <label for="confirmPassword" class="form-label">Confirmer le mot de passe</label>
    <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary text-white" [disabled]="passwordForm.invalid" style="color:rgb(0, 170, 255); text-align: center;" >Modifier le mot de passe</button>
</form>
</div>
