.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
form {
    font-family: serif;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  h2 {
    text-align: center;
    font-family: serif;
    font-size: 2.2rem;
    color: #d41471;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-transform: capitalize;
    line-height: 1.4;
    box-shadow: 0 4px 8px rgba(232, 57, 211, 0.1);
    padding: 10px 0;
    border-bottom: 2px solid #e72991;
}

h2:hover {
    color: #e72991;
    cursor: pointer;
    transform: translateY(-3px);
    transition: all 0.3s ease;
}
.form-control {
    border-radius: 5px;
    border: 1px solid #ddc0c0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  
  .form-control.ng-invalid.ng-touched {
    border-color: #dc3545;
  }
  
  .form-control.ng-valid.ng-touched {
    border-color: #28a745;
  }