<div class="container mt-4">
  <h1>la liste des commandes validées</h1>
    @for (item of orders; track item.id) {
      <div class="card mb-3 shadow-sm">
        <div class="card-header text-white" style="background-color: rgb(195, 201, 200);">
          <h4 class="mb-0 text-center">Commande n° {{item.id}}</h4>
        </div>
        <ul class="list-group list-group-flush">
          @for (prod of item.sweets.items; track $index) {
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span>
                <strong>{{prod.sweet.name}}</strong> <br>
                Quantité: {{prod.quantite}}kg
              </span>
              <span >{{prod.price | number:'.3'}} DNT</span>
            </li>
          }
          <li class="list-group-item d-flex justify-content-end bg-light">
            <strong class="text-success fs-5">Total: {{item.sweets.totalPrice | number:'.3'}}DNT </strong>
          </li>
        </ul>
      </div>
    }
  </div>
  