<app-navbar></app-navbar>
<div class="container">
    <div class="contact-info">
      <h1>N'hésitez pas à nous contacter</h1>
      <p>Besoin d'assistance ou envie de creer votre site e-commerce ? Chez nous, nous sommes à votre disposition pour répondre à toutes vos questions et satisfaire vos demandes.</p>
      <ul>
        <li><i class="bi bi-geo-alt"></i><b>Adresse</b><br>47,Rue des Entrepreneurs Charguia2</li>
        <li><i class="bi bi-telephone"></i><b>Téléphone</b><br><a href="tel:+95701675">+216 95 701 675</a><br><a href="tel:+50388692">+216 50 388 692</a></li>
        <li><i class="bi bi-envelope"></i><b>Email</b><br><a href="mailto:hamzamaatougui06@gmail.com">hamzamaatougui06&#64;gmail.com</a><br><a href="mailto:homrysywar@gmail.com">homrysywar&#64;gmail.com</a></li>
      </ul>
      <div class="social-media">
        <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>
        <a href="#"><i class="bi bi-youtube"></i></a>
      </div>
    </div>
  </div>
  <button routerLink="/sweets" id="retour" style="position: relative; left: 550px;"><i class="bi bi-arrow-bar-up"></i>Retour</button>